@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
.logoMenu {
    width: 200px;
    margin: 5px 10px 0px;
}

.headerStyle{
     
    border: 2px solid #E0FFE0;
    background-color: #E0FFE0; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: Roboto, Sans;
    z-index: 999;
}
ul {
    float: right;
}

li {
    list-style: none;
    display: inline-block; 
    padding: 5px;
    transition: 0.4s;
    margin-top: 9px;
}
ul li a {
    text-decoration: none;
}
ul li:hover {
    color: #337A5E;
    font-size: 18px;
}

.logoUrb{
   width: 50px;
}

